.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.mt-50
{
    margin-top: 50px;


}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 85px;
}


